<nav class="navbar navbar-default">
    <div class = "navbar-header">
      <%= link_to "SG Blog", root_path, class: "navbar-brand" %>
    </div>
    <div class = "nav navbar-nav navbar-right" id="new-post-button">
      <%= button_to "New Post", new_post_path, method: :get, class: "btn btn-default navbar-btn" %>
    </div>
</nav>