<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "SG Blog", root_path, class: "navbar-brand" %>
    </div>
    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Sign in", login_path %>
    <div class="nav navbar-nav navbar-right">
      <%= button_to "New Post", new_post_path, method: :get, class: "btn btn-default navbar-btn" %>
    </div>
  </div>
</div>