<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id), class: "list-group-item" do %>
      <div></div>
      <h4><%= post.title %></h4>
      <p><%= limited_posts_body(post.body) %></p>
    <% end %>
  <% end %>
</div>