<h2> SG Blog </h2>

<button>
<%= link_to("New Post", new_post_path)%>
</button>

<ul>
  <% @posts.each do |post| %>
    <li class="post-title"><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
