.container {
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar {
  background: #1d5ea8;
  color: #fff;
}

.btn {
  margin-right: 30px;
}

.list-group-item {
  color: #070f18;
  height: 70px;
  width: 90%;
  margin: auto;
  border: 0px;
}